@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h2 class="display-4">Toimunud üritused</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Nimi</th>
                <th>Kuupäev</th>
                <th>Asukoht</th>
                <th>Osavõtjate arv</th>
                <th />
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.PastEvents)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Timestamp.ToString("yyyy-MM-dd")</td>
                    <td>@item.Location</td>
                    <td>@item.Participants</td>
                    <td>
                        <form method="post" asp-page-handler="DeleteEvent" onsubmit="return confirm('Oled kindel et soovid ürituse kustutada?');">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="id" value="@item.Id" />
                            <input type="submit" value="Kustuta" class="btn btn-danger" />
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <h2 class="display-4">Tulevased üritused</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Nimi</th>
                <th>Kuupäev</th>
                <th>Asukoht</th>
                <th>Osavõtjate arv</th>
                <th />
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.FutureEvents)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Timestamp.ToString("yyyy-MM-dd")</td>
                    <td>@item.Location</td>
                    <td>@item.Participants</td>
                    <td>
                        <form method="post" asp-page-handler="DeleteEvent" onsubmit="return confirm('Oled kindel et soovid ürituse kustutada?');">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="id" value="@item.Id" />
                            <input type="submit" value="Kustuta" class="btn btn-danger" />
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
