@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h2 class="display-4">Toimunud üritused</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Nimi</th>
                <th>Kuupäev</th>
                <th>Asukoht</th>
                <th>Osavõtjate arv</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.PastEvents)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Date</td>
                    <td>@item.Location</td>
                    <td>@item.NParticipants</td>
                </tr>
            }
    </table>

    <h2 class="display-4">Tulevased üritused</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Nimi</th>
                <th>Kuupäev</th>
                <th>Asukoht</th>
                <th>Osavõtjate arv</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.FutureEvents)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Date</td>
                    <td>@item.Location</td>
                    <td>@item.NParticipants</td>
                </tr>
            }
    </table>
</div>
