@page
@model IndexModel
@{
    ViewData["Title"] = "Avaleht";
}

<div class="content-horizontal">
    <div class="content-block content-horizontal-section content-horizontal-non-last">
    <h2 class="text-center blue-style p-3">Tulevased üritused</h2>
    <div class="p-3">
    <table class="table table-borderless">
        <tbody>
            @{ int i = 1; }
            @foreach (var item in Model.FutureEvents)
            {
                <tr>
                    <td class="align-middle">@i. @item.Name</td>
                    <td class="align-middle">@item.Timestamp.ToString("yyyy-MM-dd")</td>
                    <td class="align-middle"><a asp-page="/ShowEvent" asp-route-EventId="@item.Id" class="link unlink" >Osavõtjad</a></td>
                    <td class="align-middle">
                        <form method="post" asp-page-handler="DeleteEvent" onsubmit="return confirm('Oled kindel et soovid ürituse kustutada?');">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="id" value="@item.Id" />
                            <input type="image" src="~/images/remove.svg" class="downsized-remove" value="Kustuta" />
                        </form>
                    </td>
                </tr>
                i++;
            }
        </tbody>
    </table>
    </div>
    </div>

    <div class="content-block content-horizontal-section">
    <h2 class="text-center blue-style p-3">Toimunud üritused</h2>
    <div class="p-3">
    <table class="table table-borderless">
        <tbody>
            @{ i = 1; }
            @foreach (var item in Model.PastEvents)
            {
                <tr>
                    <td class="align-middle">@i. @item.Name</td>
                    <td class="align-middle">@item.Timestamp.ToString("yyyy-MM-dd")</td>
                    <td class="align-middle"><a asp-page="/ShowEvent" asp-route-EventId="@item.Id" class="link unlink" >Osavõtjad</a></td>
                    <td class="align-middle">
                        <form method="post" asp-page-handler="DeleteEvent" onsubmit="return confirm('Oled kindel et soovid ürituse kustutada?');">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="id" value="@item.Id" />
                            <input type="image" src="~/images/remove.svg" class="downsized-remove" value="Kustuta" />
                        </form>
                    </td>
                </tr>
                i++;
            }
        </tbody>
    </table>
    </div>
    </div>
</div>
