@page "/ShowParticipants/{EventId:int}"
@model ShowParticipantsModel
@{
    ViewData["Title"] = "Vaata osalejaid";
}

<div class="form-background">
<div class="form-block">
    <h2 class="form-heading">Osavõtjad</h2>
    <table>
    <tbody>
        <tr>
            <td class="py-1 fw-bold"><span class="me-4">Ürituse nimi:</span></td>
            <td class="py-1"><span class="form">@Model.CurrentEvent.Name</span></td>
        </tr>
        <tr>
            <td class="py-1 fw-bold"><span class="me-4">Ürituse toimumisaeg:</span></td>
            <td class="py-1"><span class="form">@Model.FormattedTimestamp</span></td>
        </tr>
        <tr>
            <td class="py-1 fw-bold"><span class="me-4">Koht:</span></td>
            <td class="py-1"><span class="form">@Model.CurrentEvent.Location</span></td>
        </tr>
        <tr>
            <td class="py-1 fw-bold"><span class="me-4">Lisainfo:</span></td>
            <td class="py-1"><span class="form">@Model.CurrentEvent.Info</span></td>
        </tr>
        <tr>
            <td class="py-1 fw-bold align-top">Ettevõtted:</td>
            <td class="py-1"><span class="form">
                <br>
                <table style="width:200%;">
                    <tbody>
                        @if (Model.Companies.Length > 0)
                        {
                            <tr>
                                <td class="col-6 fw-bold">Nimi</td>
                                <td class="col-3 fw-bold">Reg. kood</td>
                                <td class="col-3 fw-bold">Osalejaid</td>
                            </tr>
                        }
                        @{var i = 1;}
                        @foreach (var company in Model.Companies)
                        {
                            <tr>
                                <td>@i. @company.Name</td>
                                <td>@company.CompanyRegistrationNumber</td>
                                <td>@company.NParticipants</td>
                            </tr>
                            i++;
                        }
                    </tbody>
                </table>
            </span></td>
        </tr>
        <tr>
            <td class="py-1 fw-bold">Eraisikud:</td>
            <td class="py-1"><span class="form">
                <!--<table>
                    <tbody>
                        foreach (var participant in Model.Participants)
                        {
                            <tr>
                                <td>participant.Name</td>
                                <td>participant.Email</td>
                                <td>participant.Phone</td>
                            </tr>
                        }
                    </tbody>
                </table>-->
            </span></td>
        </tr>

    </tbody>
    </table>

    <h2 class="form-heading">Osavõtjate lisamine</h2>
    <form method="post" asp-page-handler="CreateParticipant">
    <table>
    <tbody>
        <!-- Entity type selection -->
        <tr>
            <td></td>
            <td>
                <label>
                    <input type="radio" asp-for="formParticipant.EntityType" value="company" checked />
                    Ettevõte
                </label>
                <label class="ms-5">
                    <input type="radio" asp-for="formParticipant.EntityType" value="person" />
                    Eraisik
                </label>
            </td>
        </tr>
        
        <!-- Person specific fields -->
        <tr class="person">
            <td><label>Eesnimi:</label></td>
            <td><input asp-for="formParticipant.PersonFirstName" class="form form-control person-required" /></td>
        </tr>
        <tr class="person">
            <td><label>Perenimi:</label></td>
            <td><input asp-for="formParticipant.PersonLastName" class="form form-control person-required" /></td>
        </tr>
        <tr class="person">
            <td><label>Isikukood:</label></td>
            <td><input asp-for="formParticipant.PersonIdentificationNumber" class="form form-control person-required" pattern="^[0-9]+$" /></td>
        </tr>
        
        <!-- Company specific fields -->
        <tr class="company">
            <td><label>Juriidiline nimi:</label></td>
            <td><input asp-for="formParticipant.CompanyName" class="form form-control company-required" /></td>
        </tr>
        <tr class="company">
            <td><label>Registrikood:</label></td>
            <td><input asp-for="formParticipant.CompanyRegistrationCode" class="form form-control company-required" pattern="^[0-9]+$" /></td>
        </tr>
        <tr class="company">
            <td><label>Osalejate arv:</label></td>
            <td><input asp-for="formParticipant.CompanyParticipants" class="form form-control company-required" type="number" min="1" step="1" /></td>
        </tr>

        <!-- Common fields -->
        <tr>
            <td><label>Maksmisviis:</label></td>
            <td>
            <select asp-for="formParticipant.PaymentMethod" class="form form-select" required>
                <option value="" selected disabled>Vali makseviis</option>
                <option value="BankTransfer">Pangaülekanne</option>
                <option value="Cash">Sularaha</option>
            </select>
            <!--<span asp-validation-for="formParticipant.PaymentMethod" class="text-danger"></span>-->
            </td>
        </tr>
        <tr>
            <td><label class="form-label">Lisainfo:</label></td>
            <td><input class="form form-control" /></td>
        </tr>
    </tbody>
    </table>
    <div class="mt-5">
    <a asp-page="/Index" type="button" class="light-gray-style m-1 rounded sized-button unlink">Tagasi</a>
    <input type="submit" class="blue-style m-1 rounded sized-button move-text-down" value="Lisa" />
    </div>
</form>

</div>
</div>
